body,
html {
    background-color: rgb(246, 243, 243);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
    overflow-x: scroll;
    display: flex;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.head-title {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.138);
}

.rounded-carousel {
    border-radius: 30px;
}

.t-a {
    margin-top: auto;
}

.t-2 {
    margin-top: 5px;
}

.t-3 {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 0px 50px 0 rgba(48, 55, 66, 0.317);
    background-color: rgb(255, 255, 255);
}

.card-title {
    font-size: 20px;
}

.icons-img {
    width: 50px;
    height: 50px;
}

.bottom {
    font-size: 20px;
    height: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
}


/* 消息卡片 */
.msg-card-div {
    border-radius: 30px;
}

.msg-head-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 20px 0 rgba(48, 55, 66, 0.3);
}

.msg-card-text {
    font-size: 18px;
}

.msg-card-img {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    min-width: 150px;
}

@media (max-width:615px) {
    .test {
        float: left;
        width: 33%;
        box-sizing: border-box;
        padding: 10px;
        min-width: 150px;
    }
}

@media (max-width:465px) {
    .test {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 10px;
        min-width: 150px;
    }
}

@media (max-width:315px) {
    .test {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;

    }
}

/*分区页*/
.card-products {
    background-color: #ffcccc;
    box-shadow: 0 0px 50px 0 rgba(48, 55, 66, 0.3);
}

.products-head-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0px 40px 0 rgba(255, 239, 239, 1);
}

/* 文章页面 */
.postlist ul {
    padding: 0;
    list-style: none;
}

.postlist li {
    margin-top: 20px;
}

/* 返回顶部 */
.back {
    z-index: 9;
    position: sticky;
    float: right;
    top: -110px;
    margin-top: -50px;
    border-radius: 10px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E %3Cpath fill='%23ffffff' d='M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6 22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4 9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6 0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z'%3E%3C/path%3E %3C/svg%3E") center no-repeat rgb(49, 121, 255);
    background-size: 50%;
    box-shadow: 0 0px 40px 0 rgb(34, 124, 203);
    width: 50px;
    height: 50px;
    transform: translateY(calc(100vh + 50px));
}


/* 底部导航栏 */

.nav-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: white;
    padding: 20px;
    box-shadow: 0 13px 55px 1px rgba(48, 55, 66, 0.679);
}

.nav-btn {
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-btn>i {
    font-size: 1.25rem;
}

.nav-btn.active {
    background: rgba(0, 0, 0, 0.892);
    color: white;
    transition: 0.2s all ease-in-out;
}

.content-section {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 20px;
}